/* css for navbar */
ul {
    background-color: black;
    list-style-type: none;
    /* margin: 0; */
    padding: 3px;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
}
li {
    display: inline;
    float: left;
    border-left: solid 1px white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: black;
    background-color: white;
}
.active {
    background-color: turquoise;
}

/* css for footer */
footer {
    text-align: center;
    padding: 3px;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}