body{
    background-image: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
}
.col-md-5{
    margin-top: 150px;
    background-color: antiquewhite;
    display: inline;

}
h1{
    text-align: center;
    font-weight: bolder;
    margin: 20px;
}
button{
    float: right;
    /* margin-top: 5px; */
    /* margin-left: 10px; */
}
hr{
    height: 2px !important;
}
input{
    display: inline !important;
    border: 3px solid black;
    width: 85% !important;
}
li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
    display: inline;
    margin: 15px;
}
i{
    cursor: pointer;
    float: right;
    color: rgb(201, 67, 67);
}