{% extends 'authentication/base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Sign In</h1>
    <div class="container ">
        <form action="/signin" method="post">
        {% csrf_token %}
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Enter Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" required>
                </div>
                <br><br>

                <label for="colFormLabel" class="col-sm-2 col-form-label">Enter Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Password" required>
                </div>
                <br><br>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary center">Sign In</button>
                </div>
                
            </div>
        </form>
    </div>
{% endblock %}